/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Futura;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.overview-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}

.gallery-container {
	display: flex;
	max-width: 80%;
  position: relative;
  /* margin: auto; */
}

.mini-carousel {
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 4%;
	left: 10%;
	color: white;
	align-items: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.up-arrow, .down-arrow {
	cursor: pointer;
  top: 50%;
  width: auto;
  padding: 4px;
  color: white;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

.up-arrow:hover, .down-arrow:hover {
	background-color: black;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.sale {
	color: red;
}

.strikeout {
	text-decoration: line-through;
}

.product-category {
	padding: 1%;
	color: white;
	background-color: #888;
	font-style: italic;
}

.product-name {
	padding: 1%;
	color: white;
	background-color: #888;
	font-style: italic;
	font-size: 36px;
}

.placeholder {
	margin: 1%;
	font-size: 10px;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 40%;
}

.product-description {
	display: flex;
	margin-left: 10%;
	margin-right: 20%;
	justify-content: space-between;
}

.product-slogan {
	width: 50%;
	flex-wrap: wrap;
}

.slogan-header {
	font-style: italic;
	font-size: 24px;
}

.price {
	padding: 1%;
	font-size: 12px;
}

.photo:hover {
	cursor: zoom-in;
	opacity: 80%;
}

.full-photo-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
	height: 100%;
	width: 100%;
  top: 0;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.photo-modal-content {
	cursor: zoom-out;
	object-fit: cover;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
	animation-name: zoom;
  animation-duration: 0.6s;/* Could be more or less, depending on screen size */
}

.title-bar {
	display: flex;
	height: 80px;
	font-size: 72px;
	font-style: italic;
	color: white;
	background-color: #888;
	justify-content: space-between;
	padding: 12px;
	text-decoration: underline 4px;
}

.title-streamer {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	font-size: small;
}

.social-links {
	padding:1%;
	margin: auto;
	font-size: 24px;
}

i:hover {
	cursor: pointer;
	color: red;
}

.fa-magnifying-glass {
	font-size: 16px;
	margin-left: 3px;
}

.style-title {
	padding: 1%;
}

.styles-holder {
	padding: 1%;
}

.product-features {
	font-size: 12px;
	margin-bottom: 8px;
}

.fa-check:hover {
	color: black;
	cursor: default;
}

.photo img {
	object-fit: cover;
	transition: 0.5s all ease-in-out;
}

.photo {
	transition: 0.5s all ease;
}

.mini-photo {
	margin: 4px;
}

.mini-photo img {
	border-radius: 30%;
	object-fit: cover;
	transition: 0.5s all ease-in-out;
}

.mini-photo img:hover {
	cursor: pointer;
	transform: scale(1.2);
	opacity: 80% ;
}
.mini-photo-selected {
	margin: 4px;
}

.mini-photo-selected img {
	border-radius: 30%;
	object-fit: cover;
	transition: 0.5s all ease-in-out;
	border: 2px dotted red;
}

.mini-photo-selected img:hover {
	cursor: pointer;
	transform: scale(1.2);
	opacity: 80% ;
}
.style-bubble {
	object-fit: cover;
	border-radius: 50%;
	margin: 1%;
	transition: 0.5s all ease-in-out;
}

.style-bubble:hover {
	cursor: pointer;
	opacity: 80%;
	transform:scale(1.2);
}

.selected {
	border: 2px dotted red;
}

.size-warning {
	display: flex;
	justify-content: center;
	color: red;
	margin-bottom: 2px;
	font-style: italic;
	font-size: 10px;
}

.overview-selectors {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1%;
}

.overview-dropdown {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.cart-button {
	margin: 1%;
}

.related-product-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.related-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s all ease-in-out;
	margin: 3%;
}

.related-product:hover {
	cursor: pointer;
	opacity: 80%;
	transform:scale(1.2);
}

.related-product img {
	object-fit: cover;
	border-radius: 10%;
}

.related-name {
	font-size: 20px;
	font-style: italic;
}

.related-price {
	margin: 1%;
	font-size: 12px;
}

.related-rating {
	margin: 1%;
	font-size: 12px;
}